.dashboard-content {
  width: 50%;
  margin: auto;

  .list-group {
    .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item-action {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
