.dashboard-content {
  width: 50%;
  margin: auto;

  .empty-list {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
  }

  .list-group {
    .completed {
      text-decoration: line-through;
    }

    .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item-main {
        @extend .list-group-item;
        gap: 10px;
      }

      .item-action {
        @extend .list-group-item;
        gap: 10px;
      }
    }
  }
}
